* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  background: rgb(204, 202, 202);
}

header ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

header ul li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  font-family: "Audiowide", sans-serif;
  padding: 1rem;
  color: rgba(20, 20, 20, 0.63);
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

header ul li:hover,
header ul li.active {
  color: #4dc3a9;
}